.tab-main-container{
  height: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.taskCard{
  min-height: 8vh;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative;
}

.completed-btn-container{
  width: 10%;
  height: 100%;
  
}

.completed-btn{
  border-radius: 50%;
  border: 0.5px solid black;
  width: 5vw;
  height: 5vw;
  max-width: 40px;
  max-height: 40px;
}

.checkedIcon{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  
}

.checkedIcon.Visible{
  opacity: 1;
}

.task-description-main-container{
  width: 80%;
  height: 100%;
  overflow-x: auto;
  padding: 0 3vw;
}

.task-description.Completed{
  text-decoration: line-through;
}

.hideTask{
  display: none;
}

.delete-btn{
  width: 10%;
  z-index: 1;
  /* height: 8vh; */
  /* background-color: lightgreen; */
}

.taskCard-delete-btn-img{
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
}

.removeBtn{
  margin-right: 6vw;
  padding: 1vw;
  background-color: var(--Yellow);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px black;
  font-weight: bold;
}